
body{
    
  font-weight: 900;
  cursor: url('cursor.png'),auto;
  font-family: 'Crete Round', serif;
  background: black;

}

h1{
  font-family: 'Crete Round', serif;
  font-weight: 900;
  color:  #B7154A;
}


h3 {
  
  font-weight: 800;
}

.navbar{
    
    align-items: center;
    margin-top: 40px;

}
a{
  
  color: #33E52D;
}


.img{
    margin-top: 23px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 18px;;
   

}



.quadrado {
    background-image: url('assets/prompt.png');
    font-weight: 700;
    font-family: 'Crete Round', serif;
    color:#33E52D;
    width: 54%;
    height: 400px;
    margin: 3% auto;
    border: 5px solid white ;
    text-align: center;
    padding-top: 5%;
    box-shadow: 10px 10px 10px 5px white;
    box-shadow: 20px 20px 50px -20px #B7154A;
  }

  .quadrado2{

    font-weight: 700;
    font-family: 'Crete Round', serif;
    color:#33E52D;
    width: 54%;
    height: 400px;
    margin: 3% auto;
   
    text-align: center;
    padding-top: 5%;
    margin-bottom: 31%;

    
  }


.description{
  margin: 0 auto;
  width: 70%;


}

  

.projtitle{

  color: #33E52D;
  font-size: 2.5rem;

}
  

  .txt{

    
    padding-top: 21%;
    padding-left: 5%;
    padding-right: 5%;

  }

  .txt1{

    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;

  }


  .github {
    margin-top: 7px;
    margin: 0 auto;
    width: 32px;
    color: cadetblue;

  }

  .footer{
    display: flex;
    flex-direction: row;
    color: #B7154A;

    width: 10%;
    margin: 0 auto;
    margin-top: 77px;
    padding-bottom: 45px;
  }



.imgproj{

  margin:0 auto;
  width: 550px;
  height: 300px;


  }




  



  